@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'light';
    src: url('../src/fonts/InterLight.ttf') format('truetype');
}
@font-face {
    font-family: 'regular';
    src: url('../src/fonts/InterRegular.ttf') format('truetype');
}
*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
h1{
    font-family: 'light';
    font-size: 96px;
    color: #1E1E5A;
}
p{
    font-family: 'light';
    color: #1e1e5a9a;
    font-size: 16px;
}
h2{
    font-size: 48px;
}
h3{
    font-family: 'light';
    font-size: 32px;
    color: #1E1E5A;
}
a{
    font-size: 20px;
}
h2, a, h3, label, input, select, span, button, textarea{
    font-family: 'regular';
    color: #1E1E5A;
}
textarea{
    border: 1px solid #1E1E5A;
    color: #1E1E5A;
    border-radius: 16px;
}
input::placeholder{
    color: #1E1E5A;
}
input{
    border: 1px solid #1E1E5A;
    color: #1E1E5A;
    border-radius: 16px;
}
textarea::placeholder{
    color: #1E1E5A;
}

button{
    padding: 0;
    margin: 0;
    border-radius: 8px;
    background-color: #1E1E5A;
    color: #D1D1E2;
    height: 40px;
    font-size: 16px;
    text-align: center;
    transition: 0.2s;
    border: 1px solid #1E1E5A;
}
button:hover{
    background-color: white;
    color: #1E1E5A;
}
input, select, .mt-1{
    border-radius: 8px;
    border: 1px solid #1E1E5A;
    height: 40px;
    padding: 10px;
}
@media (max-width: 768px) {

    h1{
        font-size: 32px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    button{
        max-width: 100px;
        font-size: 10px;
        height: 30px;
    }


}

